.a {
  border: solid 1px;
  height: fit-content;
  margin-top: 5%;
  background-color: #0f0f0f;
}
.b {
  border: solid 1px;
  margin-top: 5%;
  background-color: rgb(41, 41, 41);
}
.c {
  border: solid 1px;
  height: fit-content;
  background-color: rgb(53, 53, 53);
  padding: 30px;
}
.logo {
  width: 120px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(41, 41, 41);
}
button {
  border: none;
  background: none;
  color: white;
}
button:hover {
  color: #e50814;
  transition: 0.3s;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: rgb(41, 41, 41);
  color: #e50814;
  margin-top: 5%;
}
.watch {
  border-radius: 0%;
  background-color: #e50814;
  border: none;
}
.btn_add{
  background-color: #dc3545;
  height: 40px;
}
.btn_add:hover{
  color: white;
}
